@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #f9a51a;
  --color-second: #f16522;
  --color-third: #ec4b3c;
}

.fc-daygrid-dot-event {
  padding: 2px 8px;
}

.custom-day-cell:hover,
.fc-daygrid-day-frame:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}
